/* Vanetta L Wilson
------------------------------------------------ */
/* https:clal.xyz
   v2.0 | 20180815
*
---------------------------------------------- */
body {
	background-color: #FAAC58;
	color: #b74e07;
	font: 100% "Trebuchet MS", Verdana, sans-serif;
	padding-bottom: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
	overflow: hidden;
	/*background-color: #f78308;*/
}
nav li{
  float: left;
}

/*nav li: hover{
	background-color: #red;
}*/

/*nav ul li a: hover{
	background-color: #a79e84;
}*/

nav a {
	display: inline;
	text-align:center;
	padding:14px 16px;
	color:#a96e5b;
	text-decoration: none;
}

nav a:hover{
	background-color: #f78308;
	color: #4a2702;
}

/*nav .current {
	background:#FAAC58;
	padding-bottom:10px;
	top:-5px;
}*/

/*box {
  background: #2db34a;
  height: 80px;
  position: fixed;
  width: 80px;
}*/

/*.picture leftPicture, middlePicture  rightPicture{
	border:1px black;
	width:200px;
}
.leftPicture {
  float:left;
}
.middlePicture {
 float:middle;
}
.rightPicture{
 float:right;
}*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*.logo {
	color: #b74e07;
	font-weight: bold;
}*/

h1 {
	font-size: 2em;
	font-weight: bold;
}
h2{
	font-size: 1em;
	font-weight: bold;
	margin-bottom: .25em;
}
h3{
	font-size: 1em;
	font-weight: bold;
	padding: 0;
	margin-top: .5em;
	margin-bottom: 1em;
}

p {
	margin: 0em;
	padding-right: 0px;
}

/* link states */
/*a {
	padding: .2em;
}
table, th, td {
    border: 5px solid #ADBF8B;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table {
    width: 100%;
    background-color: #FFA500;
}*/

a:link {
	text-decoration: none;
	color: #a96e5b;
}

a:visited {
	text-decoration: none;
	color: #a96e5b;
}

/*a:focus,
a:hover,
a:active {
	background: #a96e5b#587e76;
	text-decoration: none;
}*/

/*.nav a:hover {
  background-color: #ffffff;
}*/

a.current {
	color: #587e76;
}

a:hover.current {
	background: #a96e5b;
	cursor: default;
}

.header {
	text-align: center;
}

.nav-center{
	margin: auto;
	width: 35%;
}
/* The Modal (background) */
/*.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
/*.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
/*.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
/*.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
form.addEventListener("submit", myFunc);




/* CONTENT
---------------------------------------------- */
